@import "tailwindcss";



::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

  /* Modern Theme */
  :global(.splitpanes.modern-theme .splitpanes__pane) {
    background-color: transparent;
    
  }
 
  :global(.splitpanes.modern-theme .splitpanes__splitter) {
    background-color: #ccc;
    position: relative;
  }
 
  :global(.splitpanes.modern-theme .splitpanes__splitter:before) {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.4s;
    background-color: #ff5252;
    opacity: 0;
    z-index: 1;
  }
 
  :global(.splitpanes.modern-theme .splitpanes__splitter:hover:before) {
    opacity: 1;
  }
 
  :global(.splitpanes.modern-theme .splitpanes__splitter.splitpanes__splitter__active) {
    z-index: 2; /* Fix an issue of overlap fighting with a near hovered splitter */
  }
 
  :global(.modern-theme.splitpanes--vertical > .splitpanes__splitter:before) {
    left: -3px;
    right: -3px;
    height: 100%;
    cursor: col-resize;
  }
 
  :global(.modern-theme.splitpanes--horizontal > .splitpanes__splitter:before) {
    top: -3px;
    bottom: -3px;
    width: 100%;
    cursor: row-resize;
  }
 
  /* No Splitter Theme */
  :global(.splitpanes.no-splitter .splitpanes__pane) {
    background-color: transparent;
    border-radius: 4px;
  }
 
  :global(.splitpanes.no-splitter .splitpanes__splitter) {
    background-color: #ccc;
    position: relative;
  }
 
  :global(.no-splitter.splitpanes--horizontal > .splitpanes__splitter:before) {
    width: 0.125rem;
    pointer-events: none;
    cursor: none;
  }
 
  :global(.no-splitter.splitpanes--vertical > .splitpanes__splitter:before) {
    height: 0.125rem;
    pointer-events: none;
    cursor: none;
  }